*{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}
.right{
    width:50px;padding-right:0 ;
}
body{
    background: #e8eff6;
    padding-top:25px;
}
#inner{
 width:940px;
 padding:36px 30px;
 margin: 0 auto;
 border:1px solid #ccc;
 background: #fff;
}
#details{
    background-color: #FFFFFF;
    padding-left: 20px;
    width:68%;
}
.logo{
    margin-bottom:25px;
}
#p01{
    margin-bottom:15px;
}
#p01 h2{
    display: inline-block;
    margin-right: 70px;
}
#details span{
    color:red;
}
#details ul input{
    height:25px;
}
#details ul li{
    display:flex;
}
#details ul li p{
    width:120px;
    text-align: right;
    padding-right: 4px;
}
#submit{
    width:200px;
    height:40px!important;
    background-color: #FF8900;
    color:#FFF;
    border-radius: 6px;
}
ul>li{
    margin-bottom: 10px;
}

